/*Carolina Pantoja
CIS 128 
Homework #4*/

body { font-size: 1.2em; font-family: Arial, Verdana, serif; background-color: #ccc; }
h1 {; text-align:center;  }
#container { text-align:center; width: 50%; margin: 0 auto; }